<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="">
        <h1><%= kindOfDay %></h1>

        <ul id="listTodo">
          <!-- <li id="item1">Buy Food</li>
          <li id="item2">Cook Food</li>
          <li id="item3">Eat Food</li> -->

          <% for (var i=0; i<newListItems.length; i++){ %>
             <li id= <%=`item${i+1}` %>> <%= newListItems[i] %></li> 
          <% } %>
        </ul>

        <form action="/" method="post" class="">
          <input
            type="text"
            name="addToTodo"
            class=""
            id="inputTodo"
            placeholder="Add To TODO List"
          />
          <button type="submit" id="addBtn">Add</button>
        </form>
      </div>
    </div>
  </body>
</html>
