<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
  </head>
  <body>
    <div class="container">
      <div class="">
        <% if (kindOfDay === 'Sunday' || kindOfDay === 'Saturday'){ %>
        <h1 style="color: purple">ToDo List</h1>
        <p>Why are you not working?</p>
        <% } else{ %>
        <h1 style="color: blue">Todo List</h1>
        <p>Let's focous on work</p>
        <% } %>
      </div>
    </div>
  </body>
</html>
